body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(113, 125, 127);
  background-image: url("http://3.bp.blogspot.com/-a7VLtKlgKjw/T221EnQVABI/AAAAAAAAAyI/hBHHlO5qX5s/s1600/29-desktop-backgrounds-great-waterfall.jpg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
